# List Comprehension

 You are given three integers x, y and z representing the dimensions of a cuboid along with an
 integer n. You have to print a list of all possible coordinates given by (i, j, k) on a 3D grid where the sum of i + j + k  is not
 equal to n. Here, 0 <= i <= x; 0 <= j <= y; 0 <= k <= z

In [2]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())

print( [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if (i+j+k)!=n])

3
2
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 2, 1], [1, 0, 0], [1, 1, 1], [1, 2, 0], [1, 2, 1], [2, 0, 1], [2, 1, 0], [2, 1, 1], [2, 2, 0], [2, 2, 1], [3, 0, 0], [3, 0, 1], [3, 1, 0], [3, 1, 1], [3, 2, 0], [3, 2, 1]]

# Find the Runner-Up Score!

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

In [3]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    
print(sorted(list(set(arr)))[-2])

4
3 5 6 2
5

#Nested Lists


Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

In [6]:
score_list=[]
if __name__ == '__main__':
    for _ in range(int(input())):
        name = input()
        score = float(input())
        score_list.append([name,score])

second_lowest= sorted(set([score for name,score in score_list]))[1]
print('\n'.join(sorted([name for name,score in score_list if score==second_lowest])))

3
riya
22
yash
34
mohit
22
yash

#Finding the Percentage
The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [8]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    
    total=0
    for i in student_marks[query_name]:
        total=total+i
    
    print('%.2f'%(total/3))

3
Malika 52 56 60
Rahul 22 43 65
Gia 34 62 58
Malika
56.00

#Lists
Consider a list (list = []). You can perform the following commands:

insert i e: Insert integer e at position i.

print: Print the list.

remove e: Delete the first occurrence of integer e.

append e: Insert integer e at the end of the list.

sort: Sort the list.

pop: Pop the last element from the list.

reverse: Reverse the list.

Initialize your list and read in the value of n followed by n lines of commands where each command will be of the  types listed above. Iterate through each command in order and perform the corresponding operation on your list.

In [9]:
if __name__ == '__main__':
    N = int(input())
    operations=[]
    for _ in range(N):
         cmd = input().split()
         
         if cmd[0]=='insert':
            operations.insert(int(cmd[1]), int(cmd[2]))
         elif cmd[0]=='print':
            print(operations)
         elif cmd[0]=='remove':
            operations.remove(int(cmd[1]))
         elif cmd[0]=='append':
            operations.append(int(cmd[1]))
         elif cmd[0]=='sort':
            operations.sort()
         elif cmd[0]=='pop':
            operations.pop()
         elif cmd[0]=='reverse':
            operations.reverse()

4
insert 0 5
 insert 1 10
insert 0 6
print
[6, 5, 10]

#Tuples
Given an integer, n, and n space-separated integers as input, create a tuple, t , of those n integers. Then compute and print the result of hash(t).

In [10]:
if __name__ == '__main__':
    n = int(input())
    integer_list = tuple(map(int, input().split()))
print(hash(integer_list))

4
2 4 6 1
-3715187750928699018

#Introduction to Sets

Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.

Formula used:
avg= sum of distict/no. of distinct 

Complete the average function.

In [12]:
def average(array):
    # your code goes here
    length=len(set(array))
    avg=sum(set(array))/length
    return avg 

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

6
34 53 66 88 53 23
52.8

#No Idea!
There is an array of n integers. There are also  disjoint sets,  A and B , each containing m integers. You like all the integers in set  A and dislike all the integers in set B. Your initial happiness is  0. For each i integer in the array, if , you add 1 to your happiness. If , you add  -1 to your happiness. Otherwise, your happiness does not change. Output your final happiness at the end.

Note: Since  A and  B are sets, they have no repeated elements. However, the array might contain duplicate elements.

Output a single integer, your total happiness.

In [13]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
n, m = [int(x) for x in input().split()]

main_arr = [int(x) for x in input().split()]
A = {int(x) for x in input().split()}
B = {int(x) for x in input().split()}

happiness = 0

for value in main_arr:
    change = 1 if value in A else -1 if value in B else 0
    happiness += change

print(happiness)

3 2
1 5 3
3 5
1 7
1

#Symmetric Difference
Given 2 sets of integers, M and N, print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either M or N but do not exist in both.

In [14]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
m=int(input())
m_int= set(map(int, input().split()))
n=int(input())
n_int= set(map(int, input().split()))
sym_diff= sorted((m_int.difference(n_int)).union(n_int.difference(m_int)))
for i in sym_diff:
    print (i)

3
23 22 21
4
21 45 32 21
22
23
32
45

#Set .add()

Apply your knowledge of the .add() operation to help your friend Rupal.
Rupal has a huge collection of country stamps. She decided to count the total number of distinct country stamps in her collection. She asked for your help. You pick the stamps one by one from a stack of N country stamps.
Find the total number of distinct country stamps.

In [2]:
# WAY 1 
n= int(input())
stamps=set(input() for i in range(n))
print(len(stamps))

print()

# WAY 2
n= int(input())
stamps=set()
for i in range(n):
    stamps.add(input())
print(len(stamps))

4
India
America
Russia
America
3

5
London
UAE
Sri Lanka
UAE
Brazil
4

#set .discard(), remove(), pop()

You have a non-empty set s, and you have to execute N commands given in N lines.
The commands will be pop, remove and discard.

In [17]:
n = int(input())
s = set(map(int, input().split()))
cmd_count=int(input())
for _ in range(cmd_count):
    cmd = input().split()
    if cmd[0]=='remove':
            s.remove(int(cmd[1]))
    elif cmd[0]=='discard':
            s.discard(int(cmd[1]))
    elif cmd[0]=='pop':
            s.pop()

print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

#Statement:

Students of District College have subscriptions to English and French newspapers. Some students have subscribed to English only, some have subscribed to French only, and some have subscribed to both newspapers.

Input Format for next 4 tasks

The first line contains an integer, n, the number of students who have subscribed to the English newspaper.
The second line contains n space separated roll numbers of those students.
The third line contains b, the number of students who have subscribed to the French newspaper.
The fourth line contains b space separated roll numbers of those students.

##Set .union() Operation
You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and the other set is subscribed to the French newspaper. The same student could be in both sets. Your task is to find the total number of students who have subscribed to at least one newspaper.

In [3]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
english= int(input())
eng_roll= [int(x) for x in input().split()][:english]

french= int(input())
fre_roll= [int(x) for x in input().split()][:french]

print(len(set(eng_roll).union(set(fre_roll))))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

##Set .intersection() Operation
You are given two sets of student roll numbers. One set has subscribed to the English newspaper, one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to both newspapers.

In [4]:
# Enter your code here. Read input from STDIN. Print output to STDOUT

english= int(input())
eng_roll= [int(x) for x in input().split()][:english]

french= int(input())
fre_roll= [int(x) for x in input().split()][:french]

print(len(set(eng_roll).intersection(set(fre_roll))))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

##Set .difference() Operation
You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to only English newspapers.

In [5]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
english= int(input())
eng_roll= [int(x) for x in input().split()][:english]

french= int(input())
fre_roll= [int(x) for x in input().split()][:french]

print(len(set(eng_roll).difference(set(fre_roll))))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

##Set .symmetric_difference() Operation

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, and one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to either the English or the French newspaper but not both.

In [6]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
english= int(input())
eng_roll= [int(x) for x in input().split()][:english]

french= int(input())
fre_roll= [int(x) for x in input().split()][:french]

print(len(set(eng_roll).symmetric_difference(set(fre_roll))))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

#Set Mutations
You are given a set A and N number of other sets. These N number of sets have to perform some specific mutation operations on set A .
Your task is to execute those operations and print the sum of elements from set A .

In [7]:
# Enter your code here. Read input from STDIN. Print output to STDOUT

a= int(input())
a_set= [int(x) for x in input().split()][:a]
a_set=set(a_set)
n=int(input())
for i in range(n):
    cmd = input().split()
    limit=int(cmd[1])
    opert= [int(x) for x in input().split()][:limit]   
    if cmd[0]=='update':
        a_set.update(opert)
    elif cmd[0]=='intersection_update':
        a_set.intersection_update(opert)
    elif cmd[0]=='difference_update':
        a_set.difference_update(opert)
    elif cmd[0]=='symmetric_difference_update':
        a_set.symmetric_difference_update(opert)

print(sum(a_set))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
 2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

#The Captian's Room

Mr. Anant Asankhya is the manager at the INFINITE hotel. The hotel has an infinite amount of rooms.

One fine day, a finite number of tourists come to stay at the hotel.
The tourists consist of:
→ A Captain.
→ An unknown group of families consisting of  members per group where K ≠ 1.

The Captain was given a separate room, and the rest were given one room per group.

Mr. Anant has an unordered list of randomly arranged room entries. The list consists of the room numbers for all of the tourists. The room numbers will appear K  times per group except for the Captain's room.

Mr. Anant needs you to help him find the Captain's room number.
The total number of tourists or the total number of groups of families is not known to you.
You only know the value of K and the room number list.

In [8]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
K=int(input())
room_list= list(map(int, input().split()))
room_set=set(room_list)
sum_list=sum(room_list)
sum_set= sum(room_set)
fac= ((sum_list-sum_set)/(K-1))*K
capt_room= int(sum_list- fac)
print(capt_room)

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

#Check Subset

You are given two sets, A and B.
Your job is to find whether set A is a subset of set B.
If set A is subset of set B, print True.
If set A is not a subset of set B, print False.

In [10]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
n=int(input())
for _ in range(n):
    a_ele=int(input())
    a= [int(x) for x in input().split()][:a_ele]
    a=set(a)
    b_ele=int(input())
    b= [int(x) for x in input().split()][:b_ele]
    b=set(b)


    #WAY 1
    diff_b= b - a
    b_a= b- diff_b
    
    if b_a == a:
        print(True)
    else:
        print(False)
    
    #WAY 2
    if a <= b:
        print(True)
    else:
        print(False)
    
    #WAY 3
    if a.issubset(b):
        print(True)
    else:
        print(False)
    
    print("\n\n\n")

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
True
True




1
2
5
3 6 5 4 1
False
False
False




7
1 2 3 5 6 8 9
3
9 8 2
False
False
False

#Check Strict Superset

Input Format :
The first line contains the space separated elements of set A.
The second line contains integer n, the number of other sets.
The next n lines contains the space separated elements of the other sets.

Constraints :
0 < len(set(A)) < 501
0 < N < 21
0 < len(other set) < 101

Output Format :
Print True if set A is a strict superset of all other N sets. Otherwise, print False.

In [13]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
a= set(input().split())
n=int(input())
n1=n
#WAY 1
count=0
for _ in range(n):
    n=set(input().split())
    
    if n < a:
        count+=0
    else:
        count+=1
        
if count==0:
    print(True)
else:
    print(False)

#WAY 2
count=0

diff_na= n.difference(a)
    
if len(diff_na)>0:
  count+=1
elif len(diff_na)==0 and len(n)==len(a):
  count+=1
        
        
if count==0:
    print(True)
else:
    print(False)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False
False