# Question : "Say 'Hello, World! with Python"

In [1]:
print("Hello, World!")

Hello, World!

# Question : Python If-Else

Given an integer, , perform the following conditional actions:

If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20 , print Not Weird
Input Format

A single line containing a positive integer, n .

In [2]:
import math
import os
import random
import re
import sys
if __name__ == '__main__':
    n = int(input().strip())

if n%2!= 0:
    print("Weird")
else:
    if(n>20 or n in range(2,5)):
        print("Not Weird")
    else: 
        print("Weird")

48
Not Weird

#Question : Arthimetic operators

The provided code stub reads two integers from STDIN, a and b. Add code to print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.

In [3]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

print(a+b)
print(a-b)
print(a*b)

4
6
10
-2
24

# Question : Python Division

The provided code stub reads two integers, a and b , from STDIN.
Add logic to print two lines. The first line should contain the result of integer division, a //b . The second line should contain the result of float division, a / b .
No rounding or formatting is necessary.

In [5]:
from __future__ import division

if __name__ == '__main__':
    a = int(input())
    b = int(input())

print(a//b)
print(a/b)

6
3
2
2.0

# Question : LOOPS

The provided code stub reads and integer, n, from STDIN. For all non-negative integers i<n, print i^2 .

Example:
n=3

The list of non-negative integers that are less than n=3 is [0,1,2]. Print the square of each number on a separate line.

0
1
4

Input Format:

The first and only line contains the integer,n .

Constraints
1<= n <=20

In [6]:
import sys
if __name__ == '__main__':
    n = int(input())

for i in range(n):
    if(n<1 or n>20):
        sys.exit()
    else:  
        print(i*i)

7
0
1
4
9
16
25
36

# Question : Write a function

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

In [7]:
def is_leap(year):
    leap=False
    # Write your logic here
    if(year%4==0):
        if(year%100==0 and year%400!=0):
            leap=False
        else:
            leap = True
    
    return leap

year = int(input())
print(is_leap(year))

6743
False

# Question : Print Function

The included code stub will read an integer, n , from STDIN.
Without using any string methods, try to print the following:

123...n 

Note that "..." represents the consecutive values in between.

Example
n=5

Print the string 12345 .

Constraints
1<= n <=150

In [1]:
if __name__ == '__main__':
    n = int(input())

if (n<1 or n>150):
    exit()
else:    
    for i in range(1,n+1):
        print(i, end='')

11
1234567891011